---
import 'destyle.css';
import '@styles/global.scss';

import Header from '@components/Header.astro';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>タイトル</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
